@keyframes cores {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #100720, #31087B, #FA2FB5);
    background-size: 200% 200%;
    position: relative;
    animation: cores 10s ease-in-out infinite;
}

div.container {
    margin-top: 200px;
    width: 500px;
    height: 500px;
}

label.form-label {
    color: #E9ECEF;
    font-weight: bold;
}

h1{
    color: #E9ECEF;
    font-weight: bold;
}